@font-face{
    font-family:"swout";
    src:url('../assets/Starjout.ttf')
  }

.home {
    min-height:100vh;
    background-image: url('https://wallpapercave.com/wp/9oPM25h.jpg');
    background-size: cover;
    font-family: swout;
}
.home .mainTitle{
    color:yellow;
    text-align: center;
    padding-top: 1em;

}

.home h1 {
    margin-top: 0;
}